<?xml version="1.0" encoding="utf-8"?>
<item xmlns="http://www.gamned.org/bear/schema/0.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.gamned.org/bear/schema/0.5 http://www.gamned.org/bear/schema/0.5/item-description.xsd" class="bear::spring" category="rebound" box_color="#C3BB13" url="http://www.gamned.org/wiki/index.php/spring">
  <inherit>
    <class>bear::base_item</class>
    <class>bear::basic_renderable_item</class>
    <class>bear::item_with_decoration</class>
    <class>bear::item_with_activable_sides</class>
  </inherit>
  <description>A spring gives a force to the items colliding with him.</description>
  <fields>
    <field type="real" name="spring.applied_force.x">
      <description>X value of the force applied to a colliding item.</description>
      <default_value>0</default_value>
    </field>
    <field type="real" name="spring.applied_force.y">
      <description>Y value of the force applied to a colliding item.</description>
      <default_value>0</default_value>
    </field>
  </fields>
</item>
