[Desktop Entry]
Version=1.0

Type=Application
MimeType=application/x-bear-spritedesc

Name=Bear Factory — Spritedesc interpreter

Comment=Interpreter for sprite description files
Comment[en]=Interpreter for sprite description files
Comment[fr]=Interpréteur pour les fichiers de description de sprite

TryExec=desc2img
Exec=desc2img %f
Terminal=false
Icon=bear-factory

StartupNotify=true
Categories=Utility;

